# MAVEN
target/
!.mvn/wrapper/maven-wrapper.jar

# SPRING BOOT
*.jar
*.war
*.ear

# APPLICATION SECRETS
src/main/resources/application.properties
application-*.properties
*.env
.env

# IDE - IntelliJ
.idea/
*.iml
*.ipr
*.iws
out/

# IDE - VS Code
.vscode/
*.code-workspace

# IDE - Eclipse
.classpath
.project
.settings/
.factorypath
.sts4-cache/

# JAVA
*.class
*.log

# LOGS
logs/
log/

# OS FILES
.DS_Store
Thumbs.db
Desktop.ini

# DOCKER
docker-compose.override.yml